{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Tasks</div>
                        <div class="card-category">View, track, and manage all your ongoing and upcoming tasks in one place.</div>
                    </div>
                    <br />
                            <div class="row align-items-center px-3 pt-3 pb-2">
                                <div class="col-md-6">
                                    <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'task-list'%}">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search ..." class="form-control" name="q" />
                                            <span class="input-group-text bg-white">
                                                <i class="ti ti-search"></i>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right">
                                        <a href="{% url 'task-add' %}" class="btn btn-success btn-rounded">Add Task</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 px-3 pb-3">
                                <form method="get" class="d-flex align-items-center gap-2">
                                    <div class="col-auto">
                                        <label for="smallSelect" class="col-form-label">Sort by</label>
                                    </div>
                                    <div class="col-auto">
                                        <select class="form-control form-control-sm" id="smallSelect" name="sort_by">
                                            <option value="task_title" {% if request.GET.sort_by == "task_title" %}selected{% endif %}>Title</option>
                                            <option value="task_deadline" {% if request.GET.sort_by == "task_deadline" %}selected{% endif %}>Deadline</option>
                                            <option value="task_status" {% if request.GET.sort_by == "task_status" %}selected{% endif %}>Status</option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-sm btn-rounded">Sort</button>
                                    </div>
                                </form>
                            </div>

                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{ object.task_title }}</td>
                                    <td>{{ object.task_description }}</td>
                                    <td>{{ object.task_deadline }}</td>
                                    <td>{{ object.task_status }}</td>
                                    <td>
                                        <a href="task_list/{{ object.id }}">Edit</a>
                                        <a href="task_list/{{ object.id }}/delete" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" style="text-align: center">
                                        <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}